.archiveBlock {
  padding: 20px 0;
  margin: 5px 20px 20px;
  color: var(--text-archive-color);
  background-color: var(--bg-archive-color);
  border: 1px solid var(--table-color);
  border-radius: 10px;
}
