.modalContentSpec {
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
  max-height: 800px;
  overflow-y: auto;
}

.modalContentSpec h3 {
  width: 60%;
  text-align: left;
}

.commentCard {
  width: 800px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--table-color);
  border-radius: 10px;
}

.commentCard p {
  overflow-wrap: break-word;
}

.authorAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment_change {
  display: flex;
  justify-content: right;
}

.buttonsBlock {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  width: 30%;
}
