.filterSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.inconsistenciesActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.inconsistenciesActions a {
  font-size: 11px;
}

.addButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0;
}

.redText {
  color: var(--red-color);
}

.estimate {
  color: var(--accent-green-color);
}
