.modalContentSpec {
  flex-wrap: wrap;
  gap: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.numberBlock {
  width: 100%;
}

.numberInputBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.numberBlock h4 {
  margin-bottom: 15px;
  text-align: left;
}

.form {
  width: 100%;
}

.modalForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.modalInternalBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0 3px var(--modal-shadow);
}

.dateLine {
  display: flex;
  align-items: center;
  gap: 10;
}

.internalBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.oneLineText {
  display: flex;
  gap: 5px;
  justify-content: left;
  align-items: center;
}

.sourceLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.sourceLine input {
  width: 100%;
}

.analysisDateBlock {
  width: 45%;
}

.listCorrectionBlock,
.listCorrectiveActionBlock {
  display: flex;
  gap: 10px;
}

.buttonsBlock {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.submitError {
  font-size: 0.7rem;
  color: var(--accent-red-color);
}
