.navMenu {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 0 0 10px;
  background: var(--bg-header-gradient);
}

.auditMenuArea {
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

.auditTitle {
  padding: 10px 22px 25px 0;
  font-size: 0.9rem;
  color: var(--text-button-color);
  text-align: right;
}
