.normativeDocumentBlock {
  display: flex;
  gap: 20px;
  width: 100%;
}

.pointInput {
  width: 100%;
}

.removeButton {
  min-width: 100px;
}

.submitError {
  font-size: 0.7rem;
  color: var(--accent-red-color);
}

.activeLink {
  width: 80px;
  padding: 3px;
}

.disabledLink {
  width: 80px;
  padding: 3px;
  color: var(--link-disabled-color);
  pointer-events: none;
}
