.filterSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.observationActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.addButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0;
}

.solText {
  padding-bottom: 10px;
}

.redText {
  color: var(--accent-red-color);
}

.greenText {
  color: var(--accent-green-color);
}

.blueText {
  color: var(--accent-blue-color);
}
