.navMenu {
  margin: 20px;
}

.menuButton {
  padding: 7px 20px;
  margin: 40px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--text-button-color);
}

@media (hover: hover) {
  .menuButton:hover {
    color: var(--text-button-color);
    background-color: var(--accent-color-hover);
  }
}
