.removeButton {
  min-width: 100px;
}

.activeLink {
  white-space: nowrap;
}

.disabledLink {
  color: var(--link-disabled-color);
  white-space: nowrap;
  pointer-events: none;
  cursor: not-allowed;
}
