.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 415px;
}

.modalForm h3 {
  width: 70%;
  text-align: left;
}

.buttonsBlock {
  display: flex;
  gap: 16px;
  justify-content: right;
  width: 100%;
}

button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--button-disabled-color);
}
