.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  height: 80%;
  width: 65%;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--modal-shadow);
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.nonConfNumberBlock {
  width: 100%;
}

.nonConfNumberInputBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nonConfNumberBlock h4 {
  margin-bottom: 15px;
  text-align: left;
}

.modalForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.modalInternalBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--modal-shadow);
}

.oneLineText {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.analysisDateBlock {
  width: 45%;
}

.buttonsBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
