.archiveList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
  gap: 30px;
}

.archiveButton {
  font-size: 18px;
  font-weight: 400;
  width: 320px;
  text-align: center;
}
