.footerText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 0.9rem;
  background: var(--bg-footer-gradient);
}

.text {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.eventListLink {
  font-weight: 400;
  color: var(--text-button-color);
}

@media (hover: hover) {
  a:hover {
    color: var(--accent-color-hover);
  }
}
