.modalContentSpec {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: auto;
}

.modalContentSpec h3 {
  text-align: left;
}

.combinedModal {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  height: 100%;
}

.commentCard {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid var(--table-color);
  border-radius: 10px;
}

.commentCard p {
  overflow-wrap: break-word;
}

.noComments {
  margin: 20px 0;
  color: var(--accent-red-color);
}

.authorAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.commentChange {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.redText {
  color: var(--accent-red-color);
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  margin-bottom: 10px;
}

.modalForm h3 {
  text-align: left;
}

.buttonsBlock {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.submitError {
  font-size: 0.6rem;
  color: var(--accent-red-color);
  text-align: start;
}

.formSection {
  padding-top: 15px;
  margin-top: 10px;
}

.div_area:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgb(var(--accent-color), 0.2);
}
