.modalContentSpec {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 65%;
  max-height: 90vh;
  overflow-y: auto;
}

.nonConfNumberBlock {
  width: 100%;
}

.nonConfNumberInputBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nonConfNumberBlock h4 {
  margin-bottom: 15px;
  text-align: left;
}

.modalForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.modalInternalBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0 3px var(--modal-shadow);
}

.oneLineText {
  display: flex;
  gap: 5px;
  justify-content: left;
}

.analysisDateBlock {
  width: 45%;
}

.buttonsBlock {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.submitError {
  font-size: 12px;
  color: var(--accent-red-color);
  text-align: start;
}
