.modalContentSpec {
  flex-direction: column;
  gap: 10px;
}

.modalContentSpec h3 {
  width: 60%;
  text-align: left;
}

.commentCard {
  width: 390px;
  border: 1px solid var(--table-color);
  border-radius: 10px;
  padding: 10px;
}

.authorAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttonsBlock {
  display: flex;
  justify-content: flex-end;
}
